# --- Binários e Executáveis ---
# Ignora arquivos de saída de compilação em qualquer pasta
*.out
*.o
*.obj
*.exe
*.a
*.so

# Ignora o executável principal na raiz ou na pasta bin
main.out
bin/
build/

.clangd/
compile_commands.json
compile_flags.txt
compile_commands.json
.cache
# --- Sistema e Editores ---
.DS_Store
.vscode/
.helix/
.idea/
*.swp
*~

# --- Logs ---
*.log
